<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AESKey" value="G%#%@s5s5a%$S%^AS*Svs5asvsas5467%#$@8GDHTAYS^5sA54sasvsv" />
  <add key="ErpUrl" value="http://localhost:50563/" />
  <add key="ApiUrl" value="https://test2.goldmedalindia.in/api/" />
  <add key="orderkey" value="hVKghJsFPWOvLUdohmuSUot+QWEAkJ8fMFdBUjNCKyfG+HN2BbOdpTQlxCV54+9fF2ZpoZ330SN2JT4OZoYHNY8b+CsbVuUtswkY9B61MXVDPKrbGNvj5fe5FbDPNUPW" />
  <!--Modules.Gold.Media.Azure-->
  <add key="Gold.Media.Azure.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=goldblobtest;AccountKey=hcPJm5H2SrM8YIUI0TU95eptJKDLyoSBiDX++hMuVMFaI9fWPlRC5dbWOJhjLXKusGVPNUv0L42HhDr6TjCwcQ==;EndpointSuffix=core.windows.net" />
  <add key="Gold.Media.Azure.ContainerName" value="goldapptest" />
  <add key="Gold.Media.Azure.BasePath" value="goldapp/base/erp" />
  <add key="Gold.Media.Azure.PublicHostName" value="" />
  <!--Modules.Gold.Media.Azure-->
  
  <!--Gold.Sms-->
   <add key="Gold.Sms" value="sms6.rmlconnect.net:8080" />
  <!--Gold.Sms-->
  
  <!--Gold.Freepay.API-->
  <add key="Gold.Freepay.API" value="http://freepay.co/test/GPXAPI/" />
  <add key="Gold.Freepay.Code" value="CPGGOLDM" />
  <!--Gold.Freepay.API-->


  <!--Gold.AutoRead-->
  <add key="Gold.AutoRead.Executive" value="0PHEj+iom15" />
  <!--Gold.AutoRead-->


  <!--Gold.E-Way Bill-->
  <add key="Gold.Eway.API" value="https://gsp.adaequare.com/enriched/ewb/ewayapi?action=" />
  <add key="Gold.Eway.AppId" value="2615B5E7DA334D7891D2899620871FEE" />
  <add key="Gold.Eway.AppSecret" value="4DBEF53AGF7EDG43D5GB2DEGB4E9AE5FB7EB" />
  <!--Gold.E-Way Bill-->
  
  
  
  <!--Gold.Party-->
  <add key="Gold.Party.Key1" value="KHX3XN3JZCFMNFOYZDX3JUQZKNTK3QO3SEJQ" />
  <add key="Gold.Party.Key2" value="6HWAPRCXCYPZWFJRIE2C4JWU5Y6Y7VFZD53Q" />
  <add key="Gold.Party.id1" value="32313610" />
  <add key="Gold.Party.id2" value="34505715" />
  <add key="Gold.Party.url" value="https://api.vultr.com/v1/server/" />
  <add key="Gold.Party.DeviceIds" value="drfer4rr3,t574ty74t,rg64rt344" />
  <add key="Gold.Party.AppKey" value="cdehdfcr674rb24456634573cb578457345c856" />
  <add key="Gold.Party.Username" value="1234" />
  <add key="Gold.Party.Password" value="96325" />
  <!--Gold.Party-->
  
</appSettings>