<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

  <add name="mycon" connectionString="Data Source=20.192.7.67,56327;Initial Catalog=GoldmedalErp; Connection Timeout=3000000; User id=r_pankaj_uat; Password=Pass@123" providerName="System.Data.SqlClient" />
  <add name="myconread" connectionString="Data Source=20.192.7.67,56327;Initial Catalog=GoldmedalErp; Connection Timeout=3000000; User id=r_pankaj_uat; Password=Pass@123; applicationintent=readonly" providerName="System.Data.SqlClient" />


</connectionStrings>