<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

  <add name="mycon2" connectionString="Data Source=PUSHKAR-PC\MSSQLSERVER2017;Initial Catalog=GoldmedalErp17022019;Connection Timeout=3000000; Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="myconread2" connectionString="Data Source=PUSHKAR-PC\MSSQLSERVER2017;Initial Catalog=GoldmedalErp17022019;Connection Timeout=3000000; Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="mycon1" connectionString="Data Source=PUSHKAR-PC\MSSQLSERVER2017;Initial Catalog=GoldmedalErp14072019;Connection Timeout=3000000;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="myconread1" connectionString="Data Source=PUSHKAR-PC\MSSQLSERVER2017;Initial Catalog=GoldmedalErp14072019;Connection Timeout=3000000;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="mycon" connectionString="Data Source=PANKAJ-PC\MSSQLSERVER01;Initial Catalog=GoldmedalErp;Connection Timeout=3000000;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="myconread" connectionString="Data Source=PANKAJ-PC;Initial Catalog=GoldmedalErp;Connection Timeout=3000000;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="mycon3" connectionString="Data Source=PUSHKAR-PC\MSSQLSERVER2017;Initial Catalog=GoldmedalErp2012;Connection Timeout=3000000;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="myconread3" connectionString="Data Source=PUSHKAR-PC\MSSQLSERVER2017;Initial Catalog=GoldmedalErp2012;Connection Timeout=3000000;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>