<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <targets>
    <!-- Log in a separate thread, possibly queuing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->

    <target name="logfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/App_Data/logs/${shortdate}/${level}.txt"
              keepFileOpen="false"
              archiveEvery="Day"
              layout="${longdate} ${level:uppercase=true} ${logger}
              ${aspnet-request-host}
              IP => ${aspnet-request-ip}
              ${aspnet-request-useragent}
              ${logger}
              ${threadid} ${callsite} ${message}"
              createDirs="true">
      </target>
    </target>
  </targets>

  <rules>
    <!-- uncomment bellow lines in developement mode-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!-- uncomment bellow lines in production,stagging mode-->
    <!--<logger name="*" minlevel="Error,Fatal" writeTo="logDb" />-->
  </rules>
</nlog>